h1 {
    color: blue;
}

p {
    color: darkgreen
}

h3 {
    color: darkblue
}

tr {
    color: chocolate;
}

td {
    color: blueviolet
}

li {
    color: brown
}

img {
    width: 120px;
    border-radius: 50;
    border: 2px dotted green;
}